.point-type {
  display: flex;
  width: 80px;
  justify-content: space-between; }

.point-length input,
.point-bedLength input,
.point-bedWidth input,
.point-price input {
  display: inline-block;
  width: 100px; }

.point-mechanism {
  display: flex;
  width: 110px;
  justify-content: space-between; }

fieldset {
  margin-bottom: 20px; }

legend {
  font-weight: bold;
  margin-bottom: 5px; }
