<form [formGroup]="filterSofasForm"
      (ngSubmit)="filter()">
  <fieldset formGroupName="typeInfo">
    <legend>Тип:</legend>
    <div class="point-type">
      <label for="straight">прямой:</label>
      <input type="checkbox"
             id="straight"
             name="type"
             value="прямой"
             formControlName="type1">
    </div>
    <div class="point-type">
      <label for="corner">угловой:</label>
      <input type="checkbox"
             id="corner"
             name="type"
             value="угловой"
             formControlName="type2">
    </div>
  </fieldset>

  <fieldset formGroupName="mechanismInfo">
    <legend>Механизм:</legend>
    <div class="point-mechanism">
      <label for="eurobook">еврокнижка:</label>
      <input type="checkbox"
             id="eurobook"
             name="mechanism"
             value="еврокнижка"
             formControlName="mechanism1">
    </div>
    <div class="point-mechanism">
      <label for="rollOut">выкатной:</label>
      <input type="checkbox"
             id="rollOut"
             name="mechanism"
             value="выкатной"
             formControlName="mechanism2">
    </div>
  </fieldset>

  <fieldset formGroupName="lengthInfo">
    <legend>Длина, см:</legend>
    <div class="point-length">
      <input type="text"
             id="minLength"
             name="minLength"
             placeholder="от"
             formControlName="minLength">
      <input type="text"
             id="maxLength"
             name="maxLength"
             placeholder="до"
             formControlName="maxLength">
    </div>
  </fieldset>

  <fieldset formGroupName="priceInfo">
    <legend>Цена, руб:</legend>
    <div class="point-price">
      <input type="text"
             id="minPrice"
             name="minPrice"
             placeholder="от"
             formControlName="minPrice">
      <input type="text"
             id="maxPrice"
             name="maxPrice"
             placeholder="до"
             formControlName="maxPrice">
    </div>
  </fieldset>

  <button type="submit">Показать</button>
</form>
