<form [formGroup]="filterSofasForm"
      (ngSubmit)="filter()">
  <fieldset formGroupName="typeInfo">
    <legend>Тип:</legend>
    <div class="point-type">
      <label for="straight">straight:</label>
      <input type="checkbox"
             id="straight"
             name="type"
             value="straight"
             formControlName="type1">
    </div>
    <div class="point-type">
      <label for="corner">corner:</label>
      <input type="checkbox"
             id="corner"
             name="type"
             value="corner"
             formControlName="type2">
    </div>
  </fieldset>

  <fieldset formGroupName="mechanismInfo">
    <legend>Mechanism:</legend>
    <div class="point-mechanism">
      <label for="eurobook">eurobook:</label>
      <input type="checkbox"
             id="eurobook"
             name="mechanism"
             value="eurobook"
             formControlName="mechanism1">
    </div>
    <div class="point-mechanism">
      <label for="rollOut">roll-out:</label>
      <input type="checkbox"
             id="rollOut"
             name="mechanism"
             value="roll-out"
             formControlName="mechanism2">
    </div>
  </fieldset>

  <fieldset formGroupName="lengthInfo">
    <legend>Length, cm:</legend>
    <div class="point-length">
      <input type="text"
             id="minLength"
             name="minLength"
             placeholder="from"
             formControlName="minLength">
      <input type="text"
             id="maxLength"
             name="maxLength"
             placeholder="to"
             formControlName="maxLength">
    </div>
  </fieldset>

  <fieldset formGroupName="priceInfo">
    <legend>Price, byn:</legend>
    <div class="point-price">
      <input type="text"
             id="minPrice"
             name="minPrice"
             placeholder="from"
             formControlName="minPrice">
      <input type="text"
             id="maxPrice"
             name="maxPrice"
             placeholder="to"
             formControlName="maxPrice">
    </div>
  </fieldset>

  <button type="submit">Show</button>
</form>
