<div class="products">
  <div class="products-filter">
    <form action="">
      <div class="type">Тип:</div>
      <div class="point-type">
        <label for="straight">прямой:</label>
        <input type="checkbox"
               id="straight"
               name="type"
               value="прямой"
               [(ngModel)]="straight">
      </div>
      <div class="point-type">
        <label for="corner">угловой:</label>
        <input type="checkbox"
               id="corner"
               name="type"
               value="угловой"
               [(ngModel)]="corner">
      </div>

      <div class="mechanism">Механизм:</div>
      <div class="point-mechanism">
        <label for="eurobook">еврокнижка:</label>
        <input type="checkbox"
               id="eurobook"
               name="mechanism"
               value="еврокнижка"
               [(ngModel)]="euroBook">
      </div>
      <div class="point-mechanism">
        <label for="rollOut">выкатной:</label>
        <input type="checkbox"
               id="rollOut"
               name="mechanism"
               value="выкатной"
               [(ngModel)]="rollOut">
      </div>

      <div class="length">Длина, см:</div>
      <div class="point-length">
        <input type="text"
               id="minLength"
               name="minLength"
               placeholder="от"
               [(ngModel)]="minLength">
        <input type="text"
               id="maxLength"
               name="maxLength"
               placeholder="до"
               [(ngModel)]="maxLength">
      </div>

      <div class="price">Цена:</div>
      <div class="point-price">
        <input type="text"
               id="minPrice"
               name="minPrice"
               placeholder="от"
               [(ngModel)]="minPrice">
        <input type="text"
               id="maxPrice"
               name="maxPrice"
               placeholder="до"
               [(ngModel)]="maxPrice">
      </div>
    </form>

    <button>Показать</button>
  </div>



  <div class="block-with-pagination">

    <div class="all-products" *ngIf="products">
      <app-product *ngFor="let item of pagedItems"
                   [item]="item"
                   [path]="path"></app-product>
    </div>

    <div class="pagination">
      <ul *ngIf="pager?.pages && pager?.pages.length ">
        <li [ngClass]="{disabled:pager?.currentPage === 1}">
          <a (click)="setPage(1, products)">First</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === 1}">
          <a (click)="setPage(pager?.currentPage - 1, products)">Previous</a>
        </li>
        <li *ngFor="let page of pager?.pages"
            [ngClass]="{active:pager?.currentPage === page}">
          <a (click)="setPage(page, products)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
          <a (click)="setPage(pager?.currentPage + 1, products)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
          <a (click)="setPage(pager?.totalPages, products)">Last</a>
        </li>
      </ul>
    </div>

  </div>
</div>
