<div class="products">
  <div class="products-filter">
    <form action="">
      <div class="type">Тип:</div>
      <div class="point-type">
        <label for="straight">прямой:</label>
        <input type="checkbox" id="straight" name="type" [(ngModel)]="straight">
      </div>
      <div class="point-type">
        <label for="corner">угловой:</label>
        <input type="checkbox" id="corner" name="type" [(ngModel)]="corner">
      </div>

      <div class="mechanism">Механизм:</div>
      <div class="point-mechanism">
        <label for="eurobook">еврокнижка:</label>
        <input type="checkbox" id="eurobook" name="mechanism" [(ngModel)]="euroBook">
      </div>
      <div class="point-mechanism">
        <label for="rollOut">выкатной:</label>
        <input type="checkbox" id="rollOut" name="mechanism" [(ngModel)]="rollOut">
      </div>

      <div class="length">Длина, см:</div>
      <div class="point-length">
        <input type="text" id="minLength" name="minLength" [(ngModel)]="minLength" placeholder="от">
        <input type="text" id="maxLength" name="maxLength" [(ngModel)]="maxLength" placeholder="до">
      </div>

    <!--  <div class="bedLength">Длина спального места, см:</div>
      <div class="point-bedLength">
        <input type="text" id="minBedLength" name="minBedLength" [(ngModel)]="minBedLength" placeholder="от">
        <input type="text" id="maxBedLength" name="maxBedLength" [(ngModel)]="maxBedLength" placeholder="до">
      </div>

      <div class="bedWidth">Ширина спального места, см:</div>
      <div class="point-bedWidth">
        <input type="text" id="minBedWidth" name="minBedWidth" [(ngModel)]="minBedWidth" placeholder="от">
        <input type="text" id="maxBedWidth" name="maxBedWidth" [(ngModel)]="maxBedWidth" placeholder="до">
      </div>-->

      <div class="price">Цена:</div>
      <div class="point-price">
        <input type="text" id="minPrice" name="minPrice" [(ngModel)]="minPrice" placeholder="от">
        <input type="text" id="maxPrice" name="maxPrice" [(ngModel)]="maxPrice" placeholder="до">
      </div>

    </form>

    <button (click)="check()">Показать</button>
  </div>



  <div class="block-with-pagination">

    <div class="all-products" *ngIf="products">
      <app-product *ngFor="let item of pagedItems" [item]="item" [path]="path"></app-product>
    </div>

   <!-- <div class="all-products" *ngIf="sofas">
      <app-product *ngFor="let item of pagedSofas" [itemSofa]="item" [pagedSofas]=pagedSofas></app-product>
    </div>
    <div class="all-products" *ngIf="chairs">
      <app-product *ngFor="let item of pagedChairs" [itemChair]="item" [pagedChairs]=pagedChairs></app-product>
    </div>
    <div class="all-products" *ngIf="tables">
      <app-product *ngFor="let item of pagedTables" [itemTable]="item" [pagedTables]="pagedTables"></app-product>
    </div>-->

    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1, products)">First</a>
          <!--<a *ngIf="sofas" (click)="setPage(1, sofas)">First</a>
          <a *ngIf="chairs" (click)="setPage(1, chairs)">First</a>
          <a *ngIf="tables" (click)="setPage(1, tables)">First</a>-->
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1, products)">Previous</a>
          <!--<a *ngIf="sofas" (click)="setPage(pager.currentPage - 1, sofas)">Previous</a>
          <a *ngIf="chairs" (click)="setPage(pager.currentPage - 1, chairs)">Previous</a>
          <a *ngIf="tables" (click)="setPage(pager.currentPage - 1, tables)">Previous</a>-->
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page, products)">{{page}}</a>
          <!--<a *ngIf="sofas" (click)="setPage(page, sofas)">{{page}}</a>
          <a *ngIf="chairs" (click)="setPage(page, chairs)">{{page}}</a>
          <a *ngIf="tables" (click)="setPage(page, tables)">{{page}}</a>-->
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1, products)">Next</a>
          <!--<a *ngIf="sofas" (click)="setPage(pager.currentPage + 1, sofas)">Next</a>
          <a *ngIf="chairs" (click)="setPage(pager.currentPage + 1, chairs)">Next</a>
          <a *ngIf="tables" (click)="setPage(pager.currentPage + 1, tables)">Next</a>-->
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages, products)">Last</a>
         <!-- <a *ngIf="sofas" (click)="setPage(pager.totalPages, sofas)">Last</a>
          <a *ngIf="chairs" (click)="setPage(pager.totalPages, chairs)">Last</a>
          <a *ngIf="tables" (click)="setPage(pager.totalPages, tables)">Last</a>-->
        </li>
      </ul>
    </div>

  </div>
</div>
