<div class="products">
  <div class="products-filter">
   <!-- <form action="">
      <div class="type">Тип:</div>
      <div class="point-type">
        <label for="straight">прямой:</label>
        <input type="checkbox"
               id="straight"
               name="type"
               value="прямой"
               [(ngModel)]="straight">
      </div>
      <div class="point-type">
        <label for="corner">угловой:</label>
        <input type="checkbox"
               id="corner"
               name="type"
               value="угловой"
               [(ngModel)]="corner">
      </div>

      <div class="mechanism">Механизм:</div>
      <div class="point-mechanism">
        <label for="eurobook">еврокнижка:</label>
        <input type="checkbox"
               id="eurobook"
               name="mechanism"
               value="еврокнижка"
               [(ngModel)]="euroBook">
      </div>
      <div class="point-mechanism">
        <label for="rollOut">выкатной:</label>
        <input type="checkbox"
               id="rollOut"
               name="mechanism"
               value="выкатной"
               [(ngModel)]="rollOut">
      </div>

      <div class="length">Длина, см:</div>
      <div class="point-length">
        <input type="text"
               id="minLength"
               name="minLength"
               placeholder="от"
               [(ngModel)]="minLength">
        <input type="text"
               id="maxLength"
               name="maxLength"
               placeholder="до"
               [(ngModel)]="maxLength">
      </div>

      <div class="price">Цена:</div>
      <div class="point-price">
        <input type="text"
               id="minPrice"
               name="minPrice"
               placeholder="от"
               [(ngModel)]="minPrice">
        <input type="text"
               id="maxPrice"
               name="maxPrice"
               placeholder="до"
               [(ngModel)]="maxPrice">
      </div>
    </form>-->

    <form [formGroup]="filterSofasForm"
          (ngSubmit)="filter()">
      <fieldset formGroupName="typeInfo">
        <legend>Тип:</legend>
        <div class="point-type">
          <label for="straight">прямой:</label>
          <input type="checkbox"
                 id="straight"
                 name="type"
                 value="прямой"
                 formControlName="type1">
        </div>
        <div class="point-type">
          <label for="corner">угловой:</label>
          <input type="checkbox"
                 id="corner"
                 name="type"
                 value="угловой"
                 formControlName="type2">
        </div>
      </fieldset>

      <fieldset formGroupName="mechanismInfo">
        <legend>Механизм:</legend>
        <div class="point-mechanism">
          <label for="eurobook">еврокнижка:</label>
          <input type="checkbox"
                 id="eurobook"
                 name="mechanism"
                 value="еврокнижка"
                 formControlName="mechanism1">
        </div>
        <div class="point-mechanism">
          <label for="rollOut">выкатной:</label>
          <input type="checkbox"
                 id="rollOut"
                 name="mechanism"
                 value="выкатной"
                 formControlName="mechanism2">
        </div>
      </fieldset>

      <fieldset formGroupName="lengthInfo">
        <legend>Длина, см:</legend>
        <div class="point-length">
          <input type="text"
                 id="minLength"
                 name="minLength"
                 placeholder="от"
                 formControlName="minLength">
          <input type="text"
                 id="maxLength"
                 name="maxLength"
                 placeholder="до"
                 formControlName="maxLength">
        </div>
      </fieldset>

      <fieldset formGroupName="priceInfo">
        <legend>Цена, руб:</legend>
        <div class="point-price">
          <input type="text"
                 id="minPrice"
                 name="minPrice"
                 placeholder="от"
                 formControlName="minPrice">
          <input type="text"
                 id="maxPrice"
                 name="maxPrice"
                 placeholder="до"
                 formControlName="maxPrice">
        </div>
      </fieldset>

      <button type="submit">Показать</button>
    </form>
  </div>



  <div class="block-with-pagination">

    <div class="all-products" *ngIf="products">
      <app-product *ngFor="let item of pagedItems"
                   [item]="item"
                   [path]="path"></app-product>
    </div>

    <div class="pagination">
      <ul *ngIf="pager?.pages && pager?.pages.length ">
        <li [ngClass]="{disabled:pager?.currentPage === 1}">
          <a (click)="setPage(1, filteredProducts)">First</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === 1}">
          <a (click)="setPage(pager?.currentPage - 1, filteredProducts)">Previous</a>
        </li>
        <li *ngFor="let page of pager?.pages"
            [ngClass]="{active:pager?.currentPage === page}">
          <a (click)="setPage(page, filteredProducts)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
          <a (click)="setPage(pager?.currentPage + 1, filteredProducts)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
          <a (click)="setPage(pager?.totalPages, filteredProducts)">Last</a>
        </li>
      </ul>
    </div>

  </div>
</div>
