.header {
  width: 100%; }

.cent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }

.header-with-icons {
  display: flex;
  width: 100%;
  background-color: #e2dce2;
  padding: 20px 0; }

.home-link {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  font-size: 20px; }
  .home-link img {
    display: block;
    width: 100%;
    height: 100%; }

.company-name {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: #595359; }

.search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-left: 5px; }
  .search input {
    display: block;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 50px; }
    .search input:focus {
      outline: none; }

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .icons-basket {
    position: relative; }
    .icons-basket-amount {
      position: absolute;
      top: -5px;
      right: -6px;
      width: 16px;
      height: 15px;
      border-radius: 50px;
      background-color: red;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding: 1px 0; }
  .icons-search, .icons-basket, .icons-compare, .icons-user {
    width: 30px;
    height: 30px;
    margin: 0 3px; }
    .icons-search img, .icons-basket img, .icons-compare img, .icons-user img {
      display: block;
      width: 100%;
      height: 100%; }

.header-authentication {
  width: 100%; }
  .header-authentication-form {
    padding: 10px; }
    .header-authentication-form input, .header-authentication-form button {
      display: block;
      margin: 0 10px 10px 0; }
    .header-authentication-form-buttons {
      display: flex; }
  .header-authentication h3 {
    padding: 9px; }

.button-signOut,
.button-signIn,
.button-signUp {
  margin-left: 5px;
  padding: 5px;
  border: none;
  background-color: #15004a;
  border-radius: 10px;
  color: white; }

.header-navigation {
  display: flex;
  justify-content: center;
  padding: 30px 0; }
  .header-navigation span {
    display: block;
    margin: 0 15px;
    color: grey;
    font-size: 20px; }
    .header-navigation span:active {
      outline: none; }
    .header-navigation span:hover {
      transform: scale(1.1);
      cursor: pointer; }

[hidden] {
  transform: scale(0); }

[disabled] {
  opacity: .5; }

.active {
  outline: none; }
