<header class="header">
  <div class="header-with-icons">
    <div class="cent">
      <div class="home-link" routerLink=""
           [hidden]="authenticationService.getUrl() === '/login'">
        <img src="./assets/icons/домашняя.png"
             alt="back to home page"
             title="back to home page">
      </div>

      <div class="company-name">
        HomeComfort
      </div>

      <div class="icons" [hidden]="authenticationService.getUrl() === '/login'">


        <div class="icons-basket"
             routerLink="basket"
             [routerLinkActiveOptions]="{exact:true}"
             routerLinkActive="active"
             *ngIf="userEmail">

          <div class="icons-basket-amount"
               *ngIf="productsInBasket">{{productsInBasket}}</div>

          <img src="./assets/icons/корзина.png"
               alt="basket"
               title="basket">

        </div>

        <div class="icons-user"
             routerLink="account/user"
             [routerLinkActiveOptions]="{exact:true}"
             routerLinkActive="active"
             *ngIf="userEmail">
          <img src="./assets/icons/пользователь.png"
               alt="user"
               title="user">
        </div>

      </div>
    </div>
  </div>

  <div class="header-authentication" [hidden]="authenticationService.getUrl() === '/login'">
    <div class="cent">
      <h3 *ngIf="authenticationService.userData | async"
          style="color: #5f0877">Welcome, {{ userEmail }}</h3>

      <div class="header-authentication-form"
           *ngIf="!(authenticationService.userData | async)">

        <div class="header-authentication-form-inputs">
          <input type="text"
                 [(ngModel)]="email"
                 placeholder="email">
          <input type="password"
                 [(ngModel)]="password"
                 placeholder="password">
        </div>

        <div class="header-authentication-form-buttons">
          <button (click)="signUp()"
                  class="button-signUp"
                  [disabled]="!email || !password">Sign Up
          </button>

          <button (click)="signIn()"
                  class="button-signIn"
                  [disabled]="!email || !password">Sign In
          </button>
        </div>
      </div>

      <button (click)="signOut()"
              *ngIf="authenticationService.userData | async"
              class="button-signOut"
              routerLink="">Sign Out
      </button>

      <h3 class="text-danger"
          *ngIf="authenticationService.err">{{ authenticationService.err }}</h3>
    </div>
  </div>

  <nav class="header-navigation cent" [hidden]="authenticationService.getUrl() === '/login'">
    <span routerLink="products/sofas"
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">Sofas</span>
    <span routerLink="products/chairs"
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">Chairs</span>
    <span routerLink="products/tables"
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active">Tables</span>
  </nav>
</header>
