.cent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }

.header-with-icons {
  display: flex;
  width: 100%;
  background-color: #e2dce2;
  padding: 20px 0; }
  .header-with-icons img {
    display: block;
    width: 100%;
    height: 100%; }
    .header-with-icons img:hover {
      transform: scale(1.2);
      cursor: pointer; }

.home-link {
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px; }

.search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  /*  &-number {
    align-self: center;
    line-height: 1.3em;
    margin-left: 20px;
  }*/ }
  .search input {
    display: block;
    width: 100%;
    max-width: 300px;
    /*  margin-right: 10px;*/
    border: none;
    border-radius: 50px; }
    .search input:focus {
      outline: none; }

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .icons-basket {
    position: relative; }
    .icons-basket-amount {
      position: absolute;
      top: -2px;
      right: -5px;
      width: 13px;
      height: 13px;
      border-radius: 50px;
      background-color: red;
      color: white;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding-top: 2px; }
  .icons-login {
    color: #5f0877;
    font-weight: bold; }
    .icons-login:hover {
      cursor: pointer; }
  .icons-search, .icons-basket, .icons-compare, .icons-user {
    width: 30px;
    height: 30px;
    margin: 0 3px; }

.header-authentication {
  width: 100%; }
  .header-authentication h3 {
    padding: 9px; }

.button-signOut,
.button-signIn,
.button-signUp {
  margin-left: 5px;
  padding: 5px;
  border: none;
  background-color: #15004a;
  border-radius: 10px;
  color: white; }

.header-navigation {
  display: flex;
  justify-content: center;
  padding: 30px 0; }
  .header-navigation span {
    display: block;
    margin: 0 15px;
    color: grey;
    font-size: 20px; }
    .header-navigation span:active {
      outline: none; }
    .header-navigation span:hover {
      transform: scale(1.1);
      cursor: pointer; }

[hidden] {
  transform: scale(0); }

[disabled] {
  opacity: .5; }

.active {
  outline: none; }
