.cent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.about-product {
  width: 100%; }
  .about-product-links {
    margin-bottom: 40px; }
    .about-product-links span {
      display: inline-block;
      padding: 5px;
      margin: 0 5px;
      color: #15004a;
      font-size: 20px; }
      .about-product-links span:hover, .about-product-links span:active {
        cursor: pointer;
        outline: none; }
  .about-product-main-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .about-product-main-content-info {
      display: flex;
      flex-direction: column;
      margin-left: 50px; }
      .about-product-main-content-info span {
        font-size: 40px; }
      .about-product-main-content-info span + span {
        font-size: 20px;
        font-style: italic;
        margin-top: 10px; }
      .about-product-main-content-info span + span + span {
        margin-top: 10px;
        font-size: 30px;
        text-decoration: none;
        font-style: normal; }
      .about-product-main-content-info-buttons {
        margin-top: 30px; }
        .about-product-main-content-info-buttons button {
          display: block;
          width: 200px;
          background-color: #15004a;
          color: white;
          font-weight: bold;
          padding: 10px 0;
          border: none; }
          .about-product-main-content-info-buttons button:active, .about-product-main-content-info-buttons button:hover {
            outline: 1px solid #15004a;
            cursor: pointer; }
    .about-product-main-content-img {
      display: flex;
      justify-content: center;
      width: 700px;
      height: 400px;
      flex-shrink: 0; }
      .about-product-main-content-img img {
        display: block;
        max-width: 100%;
        max-height: 100%; }
  .about-product-characteristics {
    margin: 30px 0; }
    .about-product-characteristics-buttons {
      display: flex; }
    .about-product-characteristics-info {
      width: 100%;
      border-top: 1px solid silver; }
      .about-product-characteristics-info-item {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .about-product-characteristics-info-item-points {
          width: 40%;
          padding: 10px 0 10px 15px;
          font-weight: bold; }
        .about-product-characteristics-info-item-values {
          width: 60%;
          padding: 10px 0 10px 15px; }
      .about-product-characteristics-info-item:nth-child(2n) {
        background-color: #eae0ee; }
    .about-product-characteristics-comments {
      padding: 30px;
      border-top: 1px solid silver; }

.button-switch {
  display: flex;
  margin-bottom: 20px; }
  .button-switch-plus, .button-switch-minus {
    background-color: #15004a;
    color: white;
    font-weight: bold; }
    .button-switch-plus:hover, .button-switch-minus:hover {
      cursor: pointer; }
  .button-switch input {
    width: 100px; }
  .button-switch div,
  .button-switch input {
    border: 1px solid #15004a;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center; }

.button-basket {
  margin-bottom: 20px; }
  .button-basket:active {
    outline: #15004a; }

.button-characteristics,
.button-comments {
  width: 150px;
  padding: 10px 5px;
  margin-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }
  .button-characteristics:hover,
  .button-comments:hover {
    cursor: pointer; }

.active {
  background-color: #15004a;
  color: white; }

.link-to-comparison {
  margin-top: 10px;
  padding: 10px; }
  .link-to-comparison:hover {
    cursor: pointer; }

@media screen and (max-width: 971px) {
  .about-product-main-content-img {
    width: 550px;
    height: 250px; } }

@media screen and (max-width: 825px) {
  .about-product-main-content {
    flex-direction: column;
    align-items: center; }
    .about-product-main-content-img {
      width: 100%;
      display: flex;
      justify-content: center; }
    .about-product-main-content-info {
      text-align: center;
      margin: 10px 0; }
  .button-switch {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 650px) {
  .about-product-main-content-img {
    width: 500px; } }

@media screen and (max-width: 520px) {
  .about-product-links span {
    font-size: 10px; }
  .about-product-main-content-img {
    width: 300px;
    height: 150px; }
  .about-sofa-characteristics-info-points {
    flex-shrink: 0; } }

@media screen and (max-width: 365px) {
  .about-sofa-characteristics-info-points {
    flex-shrink: 1;
    min-width: 210px; } }
