<ng-container *ngIf="chosenProduct">

  <div class="about-product">
    <div class="cent">

      <div class="about-product-links">
        <span routerLink="../../../">Home page</span>
        <span> >> </span>
        <span *ngIf="path === 'sofas'"
              routerLink="../">Sofas</span>
        <span *ngIf="path === 'tables'"
              routerLink="../">Tables</span>
        <span *ngIf="path === 'chairs'"
              routerLink="../">Chairs</span>
        <span> >> </span>
        <span *ngIf="path === 'sofas'"
              style="color: black">Sofa "{{chosenProductName}}"</span>
        <span *ngIf="path === 'tables'"
              style="color: black">Table "{{chosenProductName}}"</span>
        <span *ngIf="path === 'chairs'"
              style="color: black">Chair "{{chosenProductName}}"</span>
      </div>

      <div class="about-product-main-content">
        <div class="about-product-main-content-img">
          <img [src]=chosenProductImgLarge
               [title]=chosenProductName
               alt="">
        </div>

        <div class="about-product-main-content-info">
          <span>"{{chosenProductName}}"</span>
          <span>{{chosenProductType}}</span>
          <span>{{chosenProductPrice}} byn.</span>
          <div class="about-product-main-content-info-buttons">
            <div class="button-switch">
              <div class="button-switch-minus"
                   (click)="decreaseAmount()"> -
              </div>
              <input [(ngModel)]="amount">
              <div class="button-switch-plus"
                   (click)="enlargeAmount()"> +
              </div>
            </div>
            <button class="button-basket"
                    (click)="addToBasket()"
                    [disabled]="!(authenticationService.userData | async)">Add to basket
            </button>
            <button class="button-compare"
                    *ngIf="!comparison"
                    (click)="addToComparison()">Add to comparison
            </button>
            <button class="button-compare"
                    (click)="this.comparison = !this.comparison; removeFromComparison()"
                    *ngIf="comparison">Remove from comparison
            </button>
            <div class="link-to-comparison"
                 (click)="goToComparison()"
                 [hidden]="!amountInComparison">{{amountInComparison}} products in comparison
            </div>
          </div>
        </div>
      </div>

      <div class="about-product-characteristics">
        <div class="about-product-characteristics-buttons">
          <div class="button-characteristics"
               (click)="changeSwitch()"
               [ngClass]="{active: this.switch}">Сharacteristics
          </div>
          <div class="button-comments"
               (click)="changeSwitch()"
               [ngClass]="{active: !this.switch}">Comments
          </div>
        </div>

        <div class="about-product-characteristics-info"
             *ngIf="this.switch">
          <div class="about-product-characteristics-info-item"
               *ngFor="let item of chosenProductInfoToShow">
            <div class="about-product-characteristics-info-item-points">{{item.name}}</div>
            <div class="about-product-characteristics-info-item-values">{{item.value}}</div>
          </div>
        </div>

        <div class="about-product-characteristics-comments"
             *ngIf="!this.switch">
          No comments yet
        </div>
      </div>
    </div>

    <div [class]="popupVisibility">
      <div class="popup-message">
        <div class="popup-message-text">{{message}}</div>
        <div class="popup-message-img" (click)="closePopup()">
          <img src="./assets/icons/close.png" alt="">
        </div>
      </div>
    </div>
  </div>

</ng-container>
