.comparison {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;


  &-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

    button {
      display: block;
      width: 200px;
      background-color: #15004a;
      color: white;
      font-weight: bold;
      padding: 10px 0;
      border: none;
      margin: 0 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;

    &-message {
      font-weight: bold;
      font-size: 15px;
    }

    &-characteristics {

      &-point {
        padding: 20px;
        text-align: right;
        font-weight: bold;

        &:nth-child(1) {
          height: 140px;
          font-size: 0px;
        }
      }
    }
  }
}


