app-comparison-item {
  margin: 0 2px;
  width: 27%;
}

.comparison {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;


  &-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

    button {
      display: block;
      width: 200px;
      background-color: #15004a;
      color: white;
      font-weight: bold;
      padding: 10px 0;
      border: none;
      margin: 0 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 5px;

    &-message {
      margin: 0 auto;
      font-weight: bold;
      font-size: 15px;
    }

    &-characteristics {
      width: 15%;
      margin-right: 5px;


      &-point {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 56px;
        vertical-align: middle;
        text-align: right;
        font-weight: bold;

        span {
          display: block;
        }

        &:nth-child(1) {
          height: 150px;
          font-size: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .comparison-block-characteristics {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .comparison-block-characteristics-point {
    &:nth-child(1) {
      height: 100px;
    }
  }
}

@media screen and (max-width: 460px) {
  .comparison-block-characteristics-point {
    height: 32px;
    font-size: 10px;
  }
}


