<div class="comparison">
  <div class="comparison-block">
    <ng-container *ngIf="!infoToShow.length">
      <div class="comparison-block-message">Добавьте продукты для сравнения!</div>
    </ng-container>

    <div class="comparison-block-characteristics">
      <ng-container *ngFor="let i of characteristics">
        <ng-container *ngIf="i.name !== 'id'">
          <div class="comparison-block-characteristics-point"
               *ngIf="infoToShow.length">{{i.name}}:</div>
        </ng-container>
      </ng-container>
    </div>
    <app-comparison-item *ngFor="let item of infoToShow"
                         [item]="item"
                         [(info)]="infoToShow"></app-comparison-item>
  </div>
</div>
