<ng-container *ngIf="chosenTable">

  <div class="about-table">
    <div class="cent">

      <div class="about-table-links">
        <span routerLink="../../">На главную</span>
        <span> >> </span>
        <span routerLink="../">Столы</span>
        <span> >> </span>
        <span style="color: black">Стол {{chosenTable.info.name}}</span>
      </div>



      <div class="about-table-main-content">
        <div class="about-table-main-content-img">
          <img [src]=chosenTable.info.imgLarge alt="" [title]=chosenTable.info.name>
        </div>

        <div class="about-table-main-content-info">
          <span>{{chosenTable.info.name}}</span>
          <span>{{chosenTable.info.type}}</span>
          <span>{{chosenTable.info.price}} руб.</span>
          <div class="about-table-main-content-info-buttons">
            <div class="button-switch">
              <div class="minus" (click)="decreaseAmount()"> - </div>
              <div>{{amount}}</div>
              <div class="plus" (click)="enlargeAmount()"> + </div>
            </div>
            <button class="button-basket">Добавить в корзину</button>
            <button class="button-compare" (click)="this.comparison = !this.comparison" *ngIf="!comparison">Добавить в сравнение</button>
            <button class="button-compare" (click)="this.comparison = !this.comparison" *ngIf="comparison">Убрать из сравнения</button>
          </div>
        </div>
      </div>


      <div class="about-table-characteristics">
        <div class="about-table-characteristics-buttons">
          <div class="button-characteristics" (click)="changeSwitch()" [ngClass]="{active: this.switch}">Характеристики</div>
          <div class="button-comments" (click)="changeSwitch()" [ngClass]="{active: !this.switch}">Отзывы</div>
        </div>

        <div class="about-table-characteristics-info" *ngIf="this.switch">
          <div class="about-table-characteristics-info-points">
            <div>Тип:</div>
            <div>Форма столешницы:</div>
            <div>Материал столешницы:</div>
            <div>Материал опоры:</div>
            <div>Длина:</div>
            <div>Длина в разложенном виде:</div>
            <div>Ширина:</div>
            <div>Высота:</div>
          </div>
          <div class="about-table-characteristics-info-values">
            <div>{{chosenTable.info.type}}</div>
            <div>{{chosenTable.info.shape}}</div>
            <div>{{chosenTable.info.tabletopMaterial}}</div>
            <div>{{chosenTable.info.supportMaterial}}</div>
            <div>{{chosenTable.info.length}} мм</div>
            <div>{{chosenTable.info.fullLength}} мм</div>
            <div>{{chosenTable.info.width}} мм</div>
            <div>{{chosenTable.info.height}} мм</div>
          </div>
        </div>

        <div class="about-table-characteristics-comments" *ngIf="!this.switch">
          Отзывов на данный стол пока нет
        </div>
      </div>
    </div>
  </div>

</ng-container>
