.cent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.about-table {
  width: 100%; }

.about-table-links {
  margin-bottom: 40px; }
  .about-table-links span {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #81169d;
    font-size: 20px; }
    .about-table-links span:hover, .about-table-links span:active {
      cursor: pointer;
      outline: none; }

.about-table-main-content {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .about-table-main-content-img {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
    flex-shrink: 0; }
    .about-table-main-content-img img {
      display: block;
      max-width: 100%;
      height: 100%; }

.about-table-main-content-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px; }
  .about-table-main-content-info span {
    font-size: 40px; }
  .about-table-main-content-info span + span {
    font-size: 20px;
    font-style: italic;
    margin-top: 10px; }
  .about-table-main-content-info span + span + span {
    margin-top: 10px;
    font-size: 30px;
    text-decoration: none;
    font-style: normal; }
  .about-table-main-content-info-buttons {
    margin-top: 30px; }
    .about-table-main-content-info-buttons button {
      display: block;
      width: 200px;
      background-color: black;
      color: white;
      font-weight: bold;
      padding: 10px 0;
      border: none; }
      .about-table-main-content-info-buttons button:active, .about-table-main-content-info-buttons button:hover {
        outline: 1px solid black;
        cursor: pointer; }

.button-switch {
  display: flex;
  margin-bottom: 20px; }
  .button-switch div {
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 0;
    font-size: 20px; }

.plus,
.minus {
  background-color: black;
  color: white;
  font-weight: bold; }
  .plus:hover,
  .minus:hover {
    cursor: pointer; }

.button-basket {
  margin-bottom: 20px; }
  .button-basket:active {
    outline: black; }

.about-table-characteristics {
  margin: 30px 0; }
  .about-table-characteristics-buttons {
    display: flex; }
  .about-table-characteristics-info {
    display: flex;
    border-top: 1px solid silver; }
    .about-table-characteristics-info-points, .about-table-characteristics-info-values {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .about-table-characteristics-info-points div, .about-table-characteristics-info-values div {
        width: 100%;
        border-bottom: 1px solid silver;
        margin: 5px 0;
        padding: 15px 5px; }
    .about-table-characteristics-info-points {
      font-weight: bold;
      max-width: 250px; }
  .about-table-characteristics-comments {
    padding: 30px;
    border-top: 1px solid silver; }

.button-characteristics,
.button-comments {
  width: 150px;
  padding: 10px 5px;
  margin-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }
  .button-characteristics:hover,
  .button-comments:hover {
    cursor: pointer; }

.active {
  background-color: black;
  color: white; }

@media screen and (max-width: 971px) {
  .about-table-main-content-img {
    width: 500px; } }

@media screen and (max-width: 825px) {
  .about-table-main-content {
    flex-direction: column;
    align-items: center; }
    .about-table-main-content-img {
      width: 100%;
      display: flex;
      justify-content: center; }
    .about-table-main-content-info {
      text-align: center;
      margin: 10px 0; }
  .button-switch {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 650px) {
  .about-table-main-content-img {
    width: 500px; } }

@media screen and (max-width: 520px) {
  .about-table-links span {
    font-size: 10px; }
  .about-table-main-content-img {
    width: 300px;
    height: 150px; }
  .about-table-characteristics-info-points {
    flex-shrink: 0; } }

@media screen and (max-width: 365px) {
  .about-table-characteristics-info-points {
    flex-shrink: 1;
    min-width: 210px; } }
