.thanks-for-order {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px; }
  .thanks-for-order-cent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 10px 10px 50px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center; }
  .thanks-for-order-img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    overflow: hidden; }
    .thanks-for-order-img img {
      display: block;
      width: 100%;
      height: 100%; }
  .thanks-for-order h2 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 25px; }
  .thanks-for-order p {
    margin: 15px 0;
    font-size: 17px; }
  .thanks-for-order span {
    font-weight: bold;
    font-size: 1.2em;
    color: #5f0877; }
    .thanks-for-order span:hover {
      cursor: pointer; }
