<div class="order">
  <form [formGroup]="orderForm"
        (ngSubmit)="makeOrder()">

    <fieldset formGroupName="userInfo" class="order-customer-info">
      <legend>Add information about yourself</legend>
      <div class="order-customer-info-name">
        <label for="name">Name: </label>
        <input id="name"
               type="text"
               name="name"
               formControlName="userName">
      </div>

      <div *ngIf="_userName.invalid && (_userName.touched || _userName.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userName?.errors.required">Required field!!!</span>
        <span
          *ngIf="_userName?.errors.minlength">The minimum name length is {{_userName?.errors.minlength.requiredLength}}
          symbols!!!</span>
        <span *ngIf="_userName?.errors.pattern">Only letters are allowed !!!</span>
      </div>


      <div class="order-customer-info-surname">
        <label for="surname">Surname: </label>
        <input id="surname"
               type="text"
               name="surname"
               formControlName="userSurname">
      </div>

      <div *ngIf="_userSurname.invalid && (_userSurname.touched || _userSurname.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userSurname?.errors.required">Required field!!!</span>
        <span
          *ngIf="_userSurname?.errors.minlength">The minimum name length is {{_userSurname?.errors.minlength.requiredLength}}
          symbols!!!</span>
        <span *ngIf="_userSurname?.errors.pattern">Only letters are allowed !!!</span>
      </div>


      <div class="order-customer-info-mail">
        <label for="email">E-mail: </label>
        <input id="email"
               type="email"
               name="email"
               formControlName="userEmail">
      </div>

      <div *ngIf="_userEmail.invalid && (_userEmail.touched || _userEmail.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userEmail?.errors.required">Required field!!!</span>
        <span *ngIf="_userEmail?.errors.email">Email is incorrect!!!</span>
      </div>

      <div class="order-customer-info-phone">
        <label for="phone">Phone: </label>
        <input id="phone"
               type="tel"
               name="phone"
               formControlName="userPhone">
      </div>

      <div *ngIf="_userPhone.invalid && (_userPhone.touched || _userPhone.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userPhone?.errors.required">Required field!!!</span>
        <span *ngIf="_userPhone?.errors.pattern">Phone format (spaces can be in the following places):<br>+375 __ _______!!!</span>
      </div>
    </fieldset>

    <fieldset formGroupName="deliveryInfo">
      <legend>Choose delivery method</legend>
      <div class="order-delivery">
        <input id="courier"
               type="radio"
               name="delivery"
               value="courier"
               formControlName="delivery"
               (click)="changeK()">
        <label for="courier">Courier</label>
      </div>

      <ng-container *ngIf="deliveryChecked === 'courier'">
        <div class="order-delivery-courier">
          <p>The courier delivers the goods to you, and you carefully check it. After that you can make the payment. The
            courier will give you a receipt.</p>
          <input type="text"
                 placeholder="enter your address"
                 name="address"
                 formControlName="userAddress">
        </div>

        <div *ngIf="_userAddress.invalid && (_userAddress.touched || _userAddress.dirty)"
             class="order-customer-info-validation">
          <span *ngIf="_userAddress?.errors.required">Required field!!!</span>
          <span *ngIf="_userAddress?.errors.pattern">Enter street and house number</span>

        </div>
      </ng-container>

      <div class="order-delivery">
        <input id="pickup"
               type="radio"
               name="delivery"
               value="pickup"
               formControlName="delivery"
               (click)="changeS()">
        <label for="pickup">Pickup</label>
      </div>

      <ng-container *ngIf="deliveryChecked === 'pickup'">
        <p>Minsk, Zheleznodorozhnaya street, 35</p>
      </ng-container>
    </fieldset>

    <fieldset formGroupName="paymentInfo">
      <legend>Сhoose payment method</legend>
      <div class="order-pay">
        <input id="cash"
               type="radio"
               name="payment"
               value="cash"
               formControlName="payment"
               (click)="paymentChecked = 'cash'">
        <label for="cash">Cash</label>
      </div>
      <div class="order-pay">
        <input id="card"
               type="radio"
               name="payment"
               value="card"
               formControlName="payment"
               (click)="paymentChecked = 'card'">
        <label for="card">Card</label>
      </div>
    </fieldset>

    <button class="order-button"
            type="submit"
            [disabled]="orderForm.invalid">Make an order
    </button>
  </form>
</div>

