<div class="order">
  <form [formGroup]="orderForm"
        (ngSubmit)="makeOrder()">

    <fieldset formGroupName="userInfo" class="order-customer-info">
      <legend>Заполните информацию о себе</legend>
      <div class="order-customer-info-name">
        <label for="name">Имя: </label>
        <input id="name"
               type="text"
               name="name"
               formControlName="userName">
      </div>

      <div *ngIf="_userName.invalid && (_userName.touched || _userName.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userName?.errors.required">Обязательное поле!!!</span>
        <span *ngIf="_userName?.errors.minlength">Минимальная длина имени равна {{_userName?.errors.minlength.requiredLength}} символам!!!</span>
        <span *ngIf="_userName?.errors.pattern">Разрешаются только буквы!!!</span>
      </div>

      <div class="order-customer-info-mail">
        <label for="email">E-mail: </label>
        <input id="email"
               type="email"
               name="email"
               formControlName="userEmail">
      </div>

      <div *ngIf="_userEmail.invalid && (_userEmail.touched || _userEmail.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userEmail?.errors.required">Обязательное поле!!!</span>
        <span *ngIf="_userEmail?.errors.email">Почтовый ящик введен не верно!!!</span>
      </div>

      <div class="order-customer-info-phone">
        <label for="phone">Телефон: </label>
        <input id="phone"
               type="tel"
               name="phone"
               formControlName="userPhone">
      </div>

      <div *ngIf="_userPhone.invalid && (_userPhone.touched || _userPhone.dirty)"
           class="order-customer-info-validation">
        <span *ngIf="_userPhone?.errors.required">Обязательное поле!!!</span>
        <span *ngIf="_userPhone?.errors.pattern">Формат телефона (пробелы могут быть в следующих местах):<br>+375 __ _______!!!</span>
      </div>
    </fieldset>

    <fieldset formGroupName="deliveryInfo">
      <legend>Выберите способ доставки</legend>
      <div class="order-delivery">
        <input id="courier"
               type="radio"
               name="delivery"
               value="курьер"
               formControlName="delivery"
               (click)="changeK()">
        <label for="courier">Курьер</label>
      </div>

      <ng-container  *ngIf="deliveryChecked === 'курьер'">
        <div class="order-delivery-courier">
          <p>Курьер доставляет вам товар, а вы тщательно осматриваете заказ, после чего производите оплату. Курьер предоставит вам товарный и кассовый чек.</p>
          <input type="text"
                 placeholder="введите адрес"
                 name="address"
                 formControlName="userAddress">
        </div>

        <div *ngIf="_userAddress.invalid && (_userAddress.touched || _userAddress.dirty)"
             class="order-customer-info-validation">
          <span *ngIf="_userAddress?.errors.required">Обязательное поле!!!</span>
          <span *ngIf="_userAddress?.errors.pattern">Введите улицу и номер дома</span>

        </div>
      </ng-container>

      <div class="order-delivery">
        <input id="pickup"
               type="radio"
               name="delivery"
               value="самовывоз"
               formControlName="delivery"
               (click)="changeS()">
        <label for="pickup">Самовывоз</label>
      </div>

      <ng-container *ngIf="deliveryChecked === 'самовывоз'">
          <p>г.Минск, ул.Железнодорожная, 35</p>
      </ng-container>
    </fieldset>

    <fieldset formGroupName="paymentInfo">
      <legend>Выберите способ оплаты</legend>
      <div class="order-pay">
        <input id="cash"
               type="radio"
               name="payment"
               value="наличные"
               formControlName="payment"
               (click)="paymentChecked = 'наличные'">
        <label for="cash">Наличные</label>
      </div>
      <div class="order-pay">
        <input id="card"
               type="radio"
               name="payment"
               value="карта"
               formControlName="payment"
               (click)="paymentChecked = 'карта'">
        <label for="card">Карта</label>
      </div>
    </fieldset>

    <button class="order-button"
            type="submit"
            [disabled]="orderForm.invalid" >Подтверждаю заказ</button>
  </form>
</div>

