.basket {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &-products {
    width: 60%;
    padding: 10px;
  }

  &-info {
    width: 40%;
    padding: 10px;
    line-height: 35px;
    text-align: center;

    &-container {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      padding: 20px 5px;

      div {
        font-size: 20px;
      }

      &-place-an-order {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        max-width: 200px;
        background-color: #15004a;
        color: white;
        font-weight: bold;
        padding: 10px 0;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}

[disabled] {
  opacity: .5;
}

@media screen and (max-width: 600px){
 .basket-info-container {
   line-height: 25px;
   div {
     font-size: 15px;
   }
 }

}

@media screen and (max-width: 450px){
  .basket {
    font-size: 13px;

    &-info-container {
      line-height: 15px;
      div {
        font-size: 13px;
      }
    }
  }
}
