.table {
  display: flex;

  &-filter {
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    border: 1px solid green;
  }

  &-products {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
app-item-table {
  width: 32%;
}



.block-with-pagination {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pagination {
  width: 100%;
  margin-bottom: 20px;

  ul {
    display: flex;
    justify-content: center;

    li {
      display: block;
      box-shadow: 0 0 3px 0 blueviolet;
      padding: 5px;
      margin: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.active {
  background-color: #81169d;
  color: white;
}

.disabled {
  background-color: silver;
  color: white;
  opacity: .5;
}

.table-products app-item:nth-child(3n + 2) {
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  app-item {
    width: 47%;
  }

  .table-products app-item:nth-child(3n + 2) {
    margin: 0;
  }

  .table-products app-item:nth-child(2n) {
    margin-left: 10px;
  }

}

@media screen and (max-width: 650px) {
  app-item {
    width: 100%;
  }

  .chair-products app-item:nth-child(n) {
    margin: 0 5px;
  }
}
