<ng-container *ngIf="chosenSofa">

  <div class="about-sofa">
    <div class="cent">

      <div class="about-sofa-links">
        <span routerLink="../../">На главную</span>
        <span> >> </span>
        <span routerLink="../">Диваны</span>
        <span> >> </span>
        <span style="color: black">Диван {{chosenSofa.info.name}}</span>
      </div>



      <div class="about-sofa-main-content">
        <div class="about-sofa-main-content-img">
          <img [src]=chosenSofa.info.imgLarge alt="" [title]=chosenSofa.info.name>
        </div>

        <div class="about-sofa-main-content-info">
          <span>{{chosenSofa.info.name}}</span>
          <span>{{chosenSofa.info.type}} диван</span>
          <span>{{chosenSofa.info.price}} руб.</span>
          <div class="about-sofa-main-content-info-buttons">
            <div class="button-switch">
              <div class="minus" (click)="decreaseAmount()"> - </div>
              <div>{{amount}}</div>
              <div class="plus" (click)="enlargeAmount()"> + </div>
            </div>
            <button class="button-basket">Добавить в корзину</button>
            <button class="button-compare" (click)="this.comparison = !this.comparison" *ngIf="!comparison">Добавить в сравнение</button>
            <button class="button-compare" (click)="this.comparison = !this.comparison" *ngIf="comparison">Убрать из сравнения</button>
          </div>
        </div>
      </div>


      <div class="about-sofa-characteristics">
        <div class="about-sofa-characteristics-buttons">
          <div class="button-characteristics" (click)="changeSwitch()" [ngClass]="{active: this.switch}">Характеристики</div>
          <div class="button-comments" (click)="changeSwitch()" [ngClass]="{active: !this.switch}">Отзывы</div>
        </div>

        <div class="about-sofa-characteristics-info" *ngIf="this.switch">
          <div class="about-sofa-characteristics-info-points">
            <div>Тип:</div>
            <div>Длина:</div>
            <div>Длина спальног места:</div>
            <div>Ширина спального места:</div>
            <div>Материал обивки:</div>
            <div>Механизм:</div>
          </div>
          <div class="about-sofa-characteristics-info-values">
            <div>{{chosenSofa.info.type}}</div>
            <div>{{chosenSofa.info.length}} см</div>
            <div>{{chosenSofa.info.bedLength}} см</div>
            <div>{{chosenSofa.info.bedWidth}} см</div>
            <div>{{chosenSofa.info.material}}</div>
            <div>{{chosenSofa.info.mechanism}}</div>
          </div>
        </div>

        <div class="about-sofa-characteristics-comments" *ngIf="!this.switch">
          Отзывов на данный диван пока нет
        </div>
      </div>
    </div>
  </div>

</ng-container>
