<ng-container *ngFor="let i of item">
  <ng-container *ngIf="i.name === 'Image'">
    <div [ngClass]="{'comparison-item-point-img': i.name === 'Image' }">
      <img [src]="i.value" alt="">
    </div>
  </ng-container>
</ng-container>

<ng-container *ngFor="let i of item">
  <ng-container *ngIf="i.name !== 'Image' && i.name !== 'id'">
    <div [ngClass]="{'comparison-item-point': i.name !== 'Image' }">
      <div class="comparison-item-point-value">{{i.value}}</div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngFor="let i of item">
  <ng-container *ngIf="i.name === 'id'">
    <div [ngClass]="{'comparison-item-point': i.name === 'id' }">
      <button class="comparison-item-point-value"
              (click)="removeItem()">Remove
      </button>
    </div>
  </ng-container>
</ng-container>


