<!--
<form [formGroup] = "this.ordersService.form">
  <input placeholder = "Наименование дивана"
         formControlName = "name"
         type = "text"
         class = ""
         #name>
  <input placeholder = "Цвет"
         formControlName = "color"
         type = "text"
         class = ""
         #color>
  <input placeholder = "Посадочные места"
         formControlName = "seat"
         type = "text"
         class = ""
         #seat>
</form>

<p>Name: {{name.value}}</p>
<p>Color: {{color.value}}</p>
<p>Seats: {{seat.value}}</p>-->


<!--
<button on-click="addNewSofa()">Добавить диваны</button>

<button on-click="getSofas()">Получить диваны</button>

<button on-click="getSo()">Получить один диваны</button>

<button on-click="getSof()">Получить один диваны с картинкой</button>

<button *ngFor = "let sofa of sofas"
        (click) = "addSofa(sofa)">
        {{sofa.sof.name}}
</button>
-->

<div class="sofa">
  <div class="sofa-filter">
    <form action=""></form>
  </div>

  <div class="block-with-pagination">
    <div class="sofa-products" *ngIf="sofas">
      <app-item *ngFor="let item of pagedItems" [item]="item"></app-item>
    </div>

    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>

  </div>
</div>


