<!--<button on-click="getSrc()"></button>
<img [src]="getSrc()" alt="">-->



<div class="main">

  <div class="main-cent">
    <div class="main-image">
      <h1>Каждую неделю <br/>
        новые скидки <br/>
        до -30%
      </h1>
    </div>
  </div>

  <div class="main-caption">
    <div class="main-cent">
      <h2>Акции недели</h2>
    </div>
  </div>

  <div class="main-sales"></div>

  <div class="main-caption">
    <div class="main-cent">
      <h2>Категории</h2>
    </div>
  </div>

  <div class="main-categories">
    <div class="main-cent js-content">
      <div class="main-categories-sofa" routerLink="sofas">
        <h3>Диваны</h3>
      </div>

      <div class="main-categories-chair" routerLink="chairs">
        <h3>Кресла</h3>
      </div>

      <div class="main-categories-table" routerLink="tables">
        <h3>Столы</h3>
      </div>
    </div>
  </div>
</div>
