.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px; }
  .main-cent {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; }
  .main-image {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative; }
    .main-image img {
      width: 100%;
      height: 100%;
      display: block; }
    .main-image h1 {
      margin: 10px 60px 0 auto;
      position: absolute;
      top: 10px;
      left: 55px; }
  .main-caption {
    width: 100%;
    padding: 30px 10px;
    background-color: #e2dce2;
    margin: 10px 0; }
    .main-caption h2 {
      color: #595359;
      font-size: 30px; }
  .main-categories {
    width: 100%;
    margin: 30px 0; }
    .main-categories h3 {
      color: #595359;
      font-size: 20px;
      padding: 5px 0 0 5px; }
    .main-categories-sofa, .main-categories-chair, .main-categories-table {
      width: 30%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main-categories-sofa img, .main-categories-chair img, .main-categories-table img {
        width: 100%;
        height: 100%;
        display: block; }
      .main-categories-sofa:hover, .main-categories-chair:hover, .main-categories-table:hover {
        transform: scale(1.01);
        cursor: pointer; }

.js-content {
  justify-content: space-between; }
